@import "tailwindcss";
.checkout-input {
  @apply w-full border border-gray-300 rounded-xl px-4 py-3
         text-sm focus:outline-none focus:ring-2
         focus:ring-indigo-500 focus:border-indigo-500 transition;
}
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap');

*{
  font-family: Outfit;
} */